@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("imagem/Lillia_fundo_cadastro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, .25);
    color: #d3e2e0;
    font-size: 20px;
    float: left;
    width: 48%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.tab-group li a:hover {
    background: rgb(202, 202, 89);
    color: #000000;
}
.tab-group .tab2 a {
    background: rgb(202, 202, 89);
    color: #000000;
}

.tab-group .tab1 a {
    background-color: rgba(160, 179, 176, .25);
    color: #000000;
}

.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
    border-radius: 30%;
}
.box{
    display: flex;
    justify-content: center;
}

.form-box{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    padding: 30px 40px;
    /* width: 50%; */
    border-radius: 20px;
    justify-content: center;
}

.form-box h2{
    font-size: 30px;
}

.form-box p{
    font-weight: bold;
    color: #3D3D3D;
}
.form-box p a{
    color: rgb(202, 202, 89);
    text-decoration: none;
}
.form-box form{
    margin: 20px 0;
}
form .input-group{
    margin-bottom: 15px;
}
form .input-group label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form .input-group input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .input-group input:focus{
    border-color: #eeff0069;
}
form .input-group button{
    width: 100%;
    height: 47px;
    background-color: rgb(202, 202, 89);
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
}
@media (max-width:930px) {
    .box{
        width: 700px;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;
    }
}
@media (max-width:500px) {
    .w50{
        width: 100%;
        padding: 0;
    }
}